.grm-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 5px;
  padding: 5px;
  justify-items: center;
  align-items: center;
  grid-auto-flow: row;
  border: 1px solid black;
}


.grm-label {
  justify-self: end;
  font-weight: bold;
}

.grm-select {
  justify-self: start;
}

.grm-roll {
  justify-self: center;
  font-weight: bold;
}

.grm-hdr {
  grid-row: 1/2;
  font-weight: bold;
}

.grm-name-col {
  justify-self: start;
}
